.spaceBtw {
    margin-top: 12px;
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    justify-content: space-between;
}

.backBtn {
    margin-top: 12px;
    margin-right: 12px;
    width: 1.7rem !important; 
    height: 1.7rem !important;
    border-radius: 60px;
}

.yellowContainerSmall {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #FFE066;
    border-radius: 43px;
    border: 5px solid white;
    margin-bottom: 64px;
    margin-top: 12px;
    margin-top: 128px;
    width: 65.875rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
}

p {
    font: 'Muli';
}

.inputDiv {
    margin-left: auto;
    margin-right: auto;
    width: 19.5rem;
}

.inputLabel {
    font-size: 1.313rem;
    font-weight: bold;
}

.title {
    font-weight: bold;
    text-align: center;
    font-size: 1.875rem;
}

.iconInput {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px; 
    border: 1px solid #707070;
}

.emailInputAcc, .passInput {
    border: none;
    background-color: transparent;
    width: 18.375rem;
    height: 2rem;
    margin-left: 6px;
}

.inputIcon {
    color: #40BCCC;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.goToForgot {
    color: #A1A09F;
    font-size: 1.313rem;
    text-align: center;
}

.btnContainer {
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.darkBtn {
    border-radius: 5px;
    background-color: #394967;
    width: 11.875rem;
}

.darkBtnTxt {
    margin-top: 6px;
    margin-bottom: 6px;
    color: white;
    text-align: center;
    font-size: 1.063rem;
}

.large {
    height: 100vh;
}

.bigTitle {
    font-size: 4.625rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 12px;
}

.capsTxt {
    font-size: 1.875rem;
    text-align: center;
}

.regTxt {
    text-align: center;
    font-size: 1.688rem;
}