.main {
    background-image: url("/imgs/bkg.png");
    background-repeat: repeat;
    margin-left: -2px;
    overflow: visible;
    padding: 0px;
    height: 300vh;
    max-width: 100%;
}

.videoContainer {
    margin-left: -160px;
    width: 115%;
    height: 40rem;
}

.videoNext {
    position: relative;
    top: -40rem;
    left: 127rem;
    background-color: #FFAD33;
    width: 2.25rem;
    height: 2.125rem;
    border: 2px solid white;
    color: white;
    border-radius: 6px;
    font-size: 24px;
    font-weight: bold;
}

.videoBack {   
    position: relative;
    top: -40rem;
    left: 9rem;
    background-color: #FFAD33;
    width: 2.25rem;
    height: 2.125rem;
    border: 2px solid white;
    color: white;
    border-radius: 6px;
    font-size: 24px;
    font-weight: bold;
}

.cardDesc {
    font-size: 1.563rem;
    font-weight: normal;
}