.footer {
    position: relative;
    bottom: -10px;
    width: 100%;
    height: 6.3rem;
    background-color: #362D2D;
    border-radius: 24px;
    border: 5px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.footerLogo {
    flex: 2/5 1 0%;
    width: 18.938rem;
    height: 6.5rem;
    border: 5px solid white;
    border-radius: 24px;
}

.middleDiv {
    align-items: center;
    text-align: center;
    margin-left: 350px;
    flex: 1/5 1 0%;
    display: flex;
    flex-direction: column;
}

.emailInput {
    margin-top: 8px;
    height: 2.5rem;
    margin-left: 15px;
    font-size: 0.813rem;
    color: white;
    background-color: rgba(0,0,0, 0);
    width: 80%;
    border: none;
}

.sendIcon {
    color: white;
    position: relative;
    top: 5px;
}

.emailInputDiv {
    margin-top: 12px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.15);
    border: 2px solid white;
    border-radius: 7px;
    width: 23.188rem;
    height: 2.4rem;
}

.navBtn, .disclaimer, .text {
    color: white;
    font: 'Muli'
}

.navBtn:hover {
    cursor: pointer;
}

.iconImage:hover {
    cursor: pointer;
}

.sendIcon:hover {
    cursor: pointer;
}

.disclaimer {
    font-size: 0.625rem;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.navBtn {
    margin-bottom: 0px;
    padding: 5px;
    padding-bottom: 0px;
    flex: 1/3;
}

.navButtonsGrid {
    width: 13.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.iconImg {
    margin-left: 20px;
    margin-right: 20px;
}

.iconDisp {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}