.imageCard {
    margin-top: 180px;
    margin-bottom: 180px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 25rem;
    border-radius: 50px;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

.cardDividerLine {
    border-radius: 10px;
    height: 2px;
}

.image {
    flex: 0.5;
    max-width: 37.938rem;
    max-height: 34.875rem;
}

p {
    font: 'Muli';
    color: #362D2D;
}

.imageCardText {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardTitle {
    font-size: 3.125rem;
    font-weight: bold;    
}

.cardDesc {
    text-align: center;
    font-size: 1.563rem;
    font-weight: normal;
}
