
.smallYellow {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #FFE066;
    border-radius: 43px;
    border: 5px solid white;
    margin-bottom: 64px;
    margin-top: 12px;
    margin-top: 128px;
    width: 65.875rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
}

p {
    font: 'Muli';
}

.question {
    font-size: 1.875rem;
    text-align: center;
}

