.mainTM {
   margin-top: 8px;
   width: 100%;
   height:  2.225rem;
   background-color: #362D2D;
   display: flex;
   justify-content: center;
}

.tm {
    margin-top: 3px;
    text-align: center;
    font: 'Muli';
    font-size:  0.625rem;
    color: rgba(255, 255, 255, 0.4);
}