.tallCard {
    margin-top: 6.25rem;
    margin-left: 64px;
    margin-right: 64px;
    width: 20.25rem;
    height: 37.313rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    border: 5px solid white;
    border-radius: 19px;
}

.video {
    width: 19.938rem;
    height: 19.875rem;
}

.player {
    border-radius: 17px;
    border: 2px solid white;
}

.cardTitle {
    margin-bottom: 10px;
    flex: 1;
    text-align: center;
    font: 'Muli';
    font-size: 2.563rem;
    font-weight: bold;
}

.cardTxt {
    flex: 1;
    text-align: center;
    font: 'Muli';
    font-size: 1.563rem;
    font-weight: bold;
}



